.shepherd-button {
  background: #3288e6;
  border: 0;
  border-radius: 3px;
  color: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s ease;
}

.shepherd-button:not(:disabled):hover {
  background: #196fcc;
  color: hsla(0, 0%, 100%, 0.75);
}

.shepherd-button.shepherd-button-secondary {
  background: #f1f2f3;
  color: rgba(0, 0, 0, 0.75);
}

.shepherd-button.shepherd-button-secondary:not(:disabled):hover {
  background: #d6d9db;
  color: rgba(0, 0, 0, 0.75);
}

.shepherd-button:disabled {
  cursor: not-allowed;
}

.shepherd-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.75rem 0.75rem;
}

.shepherd-footer .shepherd-button:last-child {
  margin-right: 0;
}

.shepherd-cancel-icon {
  background: transparent;
  border: none;
  color: hsla(0, 0%, 50%, 0.75);
  cursor: pointer;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: color 0.5s ease;
}

.shepherd-cancel-icon:hover {
  color: rgba(0, 0, 0, 0.75);
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
  color: hsla(0, 0%, 50%, 0.75);
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
  color: rgba(0, 0, 0, 0.75);
}

.shepherd-title {
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex: 1 0 auto;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.shepherd-header {
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  line-height: 2em;
  padding: 0.75rem 0.75rem 0;
}

.shepherd-has-title .shepherd-content .shepherd-header {
  background: #e6e6e6;
  padding: 1em;
}

.shepherd-text {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  line-height: 1.3em;
  padding: 0.75em;
}

.shepherd-text p {
  margin-top: 0;
}

.shepherd-text p:last-child {
  margin-bottom: 0;
}

.shepherd-content {
  border-radius: 5px;
  outline: none;
  padding: 0;
}

.shepherd-element {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  opacity: 0;
  outline: none;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 9999;
}

.shepherd-enabled.shepherd-element {
  opacity: 1;
  visibility: visible;
}

.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.shepherd-element, .shepherd-element *, .shepherd-element :after, .shepherd-element :before {
  box-sizing: border-box;
}

.shepherd-arrow, .shepherd-arrow:before {
  height: 16px;
  position: absolute;
  width: 16px;
  z-index: -1;
}

.shepherd-arrow:before {
  background: #fff;
  content: "";
  transform: rotate(45deg);
}

.shepherd-element[data-popper-placement^=top] > .shepherd-arrow {
  bottom: -8px;
}

.shepherd-element[data-popper-placement^=bottom] > .shepherd-arrow {
  top: -8px;
}

.shepherd-element[data-popper-placement^=left] > .shepherd-arrow {
  right: -8px;
}

.shepherd-element[data-popper-placement^=right] > .shepherd-arrow {
  left: -8px;
}

.shepherd-element.shepherd-centered > .shepherd-arrow {
  opacity: 0;
}

.shepherd-element.shepherd-has-title[data-popper-placement^=bottom] > .shepherd-arrow:before {
  background-color: #e6e6e6;
}

.shepherd-target-click-disabled.shepherd-enabled.shepherd-target, .shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
  pointer-events: none;
}

.shepherd-modal-overlay-container {
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out, height 0ms 0.3s, opacity 0.3s 0ms;
  width: 100vw;
  z-index: 9997;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  height: 100vh;
  opacity: 0.5;
  transform: translateZ(0);
  transition: all 0.3s ease-out, height 0s 0s, opacity 0.3s 0s;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
  pointer-events: all;
}

/* Common imports for all CSS modules */
/*
 * This source is generated by bin/gen/licon.py. Run licon.py after changing public/font/lichess.sfd
 *
 * Constant names and values are pulled from private use characters defined in the sfd file.
 *
 * Character names can be edited in fontforge's "glyph info" dialog, or by editing the StartChar: line that
 * begins each character chunk in lichess.sfd
 *
 * To make these characters visible in your editor, install the lichess.ttf font (which is also generated by
 * licon.py) and then add it to your editor's font list.
 */
/* Uniboard: keep the same page layout across pages */
.shepherd-button {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

/* text printed directly on the page background deserves special treatment (transp theme) */
.shepherd-has-title .shepherd-content .shepherd-header {
  box-shadow: inset 0 1px 3px -2px hsl(0, 0%, 45%), inset 0 -4px 6px -3px hsl(from var(--c-body-gradient) h s calc(l + 3));
}
html.light .shepherd-has-title .shepherd-content .shepherd-header, .shepherd-has-title .shepherd-content html.light .shepherd-header {
  box-shadow: inset 0 3px 3px -2px #fff, inset 0 -4px 6px -3px hsl(from var(--c-body-gradient) h s calc(l + 5));
}
html.transp .shepherd-has-title .shepherd-content .shepherd-header, .shepherd-has-title .shepherd-content html.transp .shepherd-header {
  box-shadow: none;
}
.shepherd-has-title .shepherd-content .shepherd-header {
  background-image: linear-gradient(to bottom, var(--c-metal-top), var(--c-metal-bottom));
}

.shepherd-button, .shepherd-content, .shepherd-element {
  border-radius: var(---ui-roundness, 7px);
}

/* helps with clipping background into border-radius */
.shepherd-header {
  border-radius: var(---ui-roundness, 7px) var(---ui-roundness, 7px) 0 0;
}

.shepherd-footer {
  border-radius: 0 0 var(---ui-roundness, 7px) var(---ui-roundness, 7px);
}

.shepherd-element {
  border: 1px solid var(--c-border);
  background-color: rgb(from var(--c-bg) r g b/0.92);
  backdrop-filter: blur(6px);
}
html.light .shepherd-element {
  background-color: rgb(from var(--c-bg) r g b/0.84);
}
html.transp .shepherd-element {
  background-color: rgb(from var(--c-bg) r g b/0.82);
}
.shepherd-has-title .shepherd-content .shepherd-header {
  background-color: transparent;
  border-bottom: 1px solid var(--c-border);
}
.shepherd-has-title .shepherd-content .shepherd-header h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--c-font);
}
.shepherd-has-title .shepherd-content .shepherd-header .shepherd-cancel-icon:hover {
  color: var(--c-bad);
}
.shepherd-text {
  color: var(--c-font);
  padding-inline: 14px;
}
.shepherd-button {
  background-color: var(--c-primary);
  color: var(--c-over);
  font-weight: bold;
}
.shepherd-button:not(:disabled):hover {
  color: var(--c-over);
  background: hsl(from var(--c-primary) h s calc(l + 7));
}
.shepherd-arrow::before {
  background-color: var(--c-bg);
  border: 1px solid var(--c-border);
}
.shepherd-element[data-popper-placement^=top] > .shepherd-arrow {
  clip-path: polygon(-20% 50%, 120% 50%, 50% 120%);
}
.shepherd-element[data-popper-placement^=top] > .shepherd-arrow::before {
  border-width: 0 1px 1px 0;
}
.shepherd-element[data-popper-placement^=bottom] > .shepherd-arrow {
  clip-path: polygon(-20% 50%, 120% 50%, 50% -20%);
}
.shepherd-element[data-popper-placement^=bottom] > .shepherd-arrow::before {
  border-width: 1px 0 0 1px;
}
.shepherd-element[data-popper-placement^=left] > .shepherd-arrow {
  clip-path: polygon(49% -20%, 49% 120%, 120% 50%);
}
.shepherd-element[data-popper-placement^=left] > .shepherd-arrow::before {
  border-width: 1px 1px 0 0;
}
.shepherd-element[data-popper-placement^=right] > .shepherd-arrow {
  clip-path: polygon(51% -20%, 51% 120%, -20% 50%);
}
.shepherd-element[data-popper-placement^=right] > .shepherd-arrow::before {
  border-width: 0 0 1px 1px;
}

/*# sourceMappingURL=bits.shepherd.css.map */
